@{
    Layout = "_HomePageLayout";
}

@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item bg bg1 active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Get detailed destination info</h1>
                    <p>Never feel like you missed out on what a place has to offer</p>
                    <p><a asp-area="Identity" asp-page="/Account/Register" class="btn btn-4" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item bg bg2">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Catalog your journey</h1>
                    <p>Save information about your past travels</p>
                    <p><a asp-area="Identity" asp-page="/Account/Login" class="btn btn-sm btn-2" role="button">Log in</a></p>
                </div>
            </div>
        </div>
        <div class="item bg bg3">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Plan your future destinations</h1>
                    <p>Use the vision board to organize all the places on your bucket list</p>
                    <p>
                        <a asp-area="" asp-controller="Home" asp-action="About" class="btn btn-5" role="button">Learn more</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn btn-5" role="button">Contact</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon @*glyphicon-chevron-left*@"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon @*glyphicon-chevron-right*@"></span></a>
</div>
