@model Domain.Traveler

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>
<body>
    <div class="row">
        <div class="col-xs-4">
            <div id="map"></div>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
                <div class="container info-container">
                    <div class="info-box">
                        <img src="http://placehold.it/100x100">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
        </div>
    </div>
    <script src="~/js/TravelersScripts.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VqyRQ0U9jrBEYpymyq1xB5zzGsnbLnc&callback=initMap">
    </script>
</body>
