@model Domain.Traveler

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
</head>
<body>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" placeholder="Enter a city (Milwaukee, Wisconsin)" class="city-search form-control" name="city" id="citySearch" />
            <i class="icon-map-marker"></i>
        </div>
        <div class="col-xs-3">
            <input type="submit" class="btn btn-change btn-1 btn-city" value="Submit" id="citySearchBtn"/>
            @*<button class="btn btn-1" onclick="startPie('thirty')">Past Thirty Days</button>*@
        </div>
        <div class="col-xs-6 cityInfo-btn">
            <h3 class="cityInfoButton">
                <label for="menuToggle" class="btn btn-change btn-1 btn-city">City Info</label>

                @*<input type="submit" class="btn btn-change btn-1 btn-city" value="City Info" />*@
            </h3>

            <div>
                <input id="menuToggle" type="checkbox">
                <div class="infobox md-card">
                    <div class="md-card-content">
                        <h3>Will display information about selected city from wikipedia, time permitting</h3>
                        <div id="wiki"></div>
                    </div>
                    <div class="md-card-btns">
                        <label for="menuToggle" class="btn btn-1">Close Box</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4">
            <div id="map"></div>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="container info-container">
                <div class="info-box">
                    <img src="http://placehold.it/100x100">
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VqyRQ0U9jrBEYpymyq1xB5zzGsnbLnc&callback=initMap">
    </script>
    <script src="~/js/TravelersScripts.js"></script>
</body>
