@model Domain.Traveler

@{
    Layout = "_ProfilePageLayout";
}

@{
    ViewData["Title"] = "Profile Page";
}

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<div id="app">
    <div id="app-header">
        <div class="content">
            <div class="header-profile">
                <img src="https://placekitten.com/200/300" class="header-logo">
            </div>

            <!-- Search -->
            <div>
                <input type="text" placeholder="Enter a city" name="city" id="citySearch">
                <i class="icon-map-marker"></i>
                @*<input type="submit" class="btn btn-change btn-4 btn-city" value="Submit" id="citySearchBtn" />
                    <label for="menuToggle" class="btn btn-change btn-3 btn-city">City Info</label>*@
            </div>

            <!-- Dropdown -->
            <div class="header-profile navbar">
                <img src="https://placekitten.com/200/300" class="header-avatar">
                <p>@Html.DisplayFor(model => model.FirstName)</p>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-area="" asp-controller="Travelers" asp-action="WorldMap">Maps</a>
                        <a asp-area="" asp-controller="Travelers" asp-action="VisionBoard">Vision Board</a>
                        <a asp-area="" asp-controller="Travelers" asp-action="Edit">Edit Profile</a>
                    </div>
                </div>
            </div>


            <div>
                <div class="divider"></div>

                <button class="unread">
                    <i class="material-icons">chat</i>
                </button>
                <button>
                    <i class="material-icons">notifications</i>
                </button>
                <button>
                    <i class="material-icons">more_horiz</i>
                </button>
            </div>
        </div>
    </div>
    <div id="app-landing">
        <div id="app-landing-bg"></div> @*dynamic background based on current weather?*@
    </div>
    <div id="app-content">
         
        <div class="profile-header" id="app-profile-header">
            <div class="profile-avatar">
                <img src="https://placekitten.com/300/300" class="avatar">@*@Html.DisplayFor(model => model.TravelerAvatar)*@
            </div>

            <div>
                <p class="type-title">@Html.DisplayFor(model => model.FirstName)'s Profile</p>
                <p class="type-subtitle">Journeyman Journeyer</p> @*@Html.DisplayFor(model => model.TravelerRank)*@
            </div>

            <div class="profile-actions">
                <button>
                    <div class="hide-s">following</div>
                </button>
                <button class="hide-s">Share</button>
                <button class="hide-s">Message</button>
                <button class="more-btn"><i class="material-icons">more_horiz</i></button>
            </div>
        </div>

        <!-- CONTENT -->
        <div class="profile-content">
            <div class="content-navigation">
                <ul>
                    <li class="type-caption active">All</li>
                    <li class="type-caption">Countries Visited</li>
                    <li class="type-caption">US States</li>
                    <li class="type-caption">Reviews</li>
                    <li class="type-caption">Awards</li>
                </ul>
            </div>
        </div>

        <!-- DETAILS -->
        <div class="profile-details">

            <div class="detail-grid-4 detail-section">
                <div>
                    <p class="type-caption">Followers</p>
                    <p class="type-heading-4">2</p> @*@Html.DisplayFor(model => model.Followers)*@
                </div>
                <div>
                    <p class="type-caption">Following</p>
                    <p class="type-heading-4">50</p> @*@Html.DisplayFor(model => model.Followers)*@
                </div>
                <div>
                    <p class="type-caption">Trips</p>
                    <p class="type-heading-4">13</p> @*@Html.DisplayFor(model => model.TripsLogged)*@
                </div>
                <div class="grid-icon">
                    <i class="material-icons">bar_chart</i>
                </div>
            </div>

            <div class="detail-section">
                <p class="type-caption">Description</p>
                <p>Hey whats up Im a pretty cool guy I like doing stuff and also enjoy when I'm able to do stuff</p>
            </div>

            <div class="detail-section">
                <p class="type-caption">Social Links</p>
                <div class="iconRow">
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#"><i class="fab fa-snapchat fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row location-row">
        @*<div class="row wrapper">
                <div class="row">
                    <button onClick="scrollSmoothToBottom()"><i class="button fa fa-caret-down 2x"></i></button>
                </div>
                <div class="row">
                    <button onClick="scrollSmoothToTop()"><i class="button fa fa-caret-up 2x"></i></button>
                </div>
            </div>*@
        <div class="col-xs-4">
            <div id="map"></div>
        </div>
        <div class="col-xs-4">
            <div class="cityInfo-container">
                @*appending here*@
            </div>
            <h3 class="chartHeader">Population Age Composition</h3>
            <div id="bar-chart">
            </div>
        </div>
        <div class="col-xs-4">
            <div class="info-container">
                @*appending here*@
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VqyRQ0U9jrBEYpymyq1xB5zzGsnbLnc&libraries=places">
</script>