@model Domain.Traveler

@{
    Layout = "_ProfilePageLayout";
}

@{
    ViewData["Title"] = "Profile Page";
}

<div id="app">
    <div id="app-header">
        <div class="content">
            <div class="header-profile">
                <img src="https://placekitten.com/200/300" class="header-logo">
            </div>

            <!-- Search Field -->
            <div>
                <input type="text" placeholder="Enter a city" name="city" id="citySearch">
                <i class="icon-map-marker"></i>
                @*<input type="submit" class="btn btn-change btn-4 btn-city" value="Submit" id="citySearchBtn" />
                    <label for="menuToggle" class="btn btn-change btn-3 btn-city">City Info</label>*@
            </div>

            <!-- Profile Dropdown -->
            <div class="header-profile navbar">
                <img src="https://placekitten.com/200/300" class="header-avatar">
                <p>MyName@*@Html.DisplayFor(model => model.FirstName)*@</p>
                <div class="dropdown">
                    <button class="dropbtn">
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        <a asp-area="" asp-controller="Travelers" asp-action="WorldMap">Maps</a>
                        <a asp-area="" asp-controller="Travelers" asp-action="VisionBoard">Vision Board</a>
                    </div>
                </div>
            </div>


            <!-- Icons -->
            <div>
                <div class="divider"></div>

                <button class="unread">
                    <i class="material-icons">chat</i>
                </button>
                <button>
                    <i class="material-icons">notifications</i>
                </button>
                <button>
                    <i class="material-icons">more_horiz</i>
                </button>
            </div>
        </div>
    </div>
    <div id="app-landing">
        <div id="app-landing-bg"></div> @*dynamic background based on current weather*@
    </div>
    <div id="app-content">
        <!-- PROFILE HEADER -->
        <div class="profile-header" id="app-profile-header">
            <div class="profile-avatar">
                <img src="https://placekitten.com/300/300" class="avatar">@*@Html.DisplayFor(model => model.TravelerAvatar)*@
            </div>

            <div>
                <p class="type-title">MyName@*@Html.DisplayFor(model => model.FirstName)*@</p>
                <p class="type-subtitle">Journeyman Journeyer</p> @*@Html.DisplayFor(model => model.TravelerRank)*@
            </div>

            <div class="profile-actions">
                <button>
                    <div class="hide-s">following</div>
                </button>
                <button class="hide-s">Share</button>
                <button class="hide-s">Message</button>
                <button class="more-btn"><i class="material-icons">more_horiz</i></button>
            </div>
        </div>

        <!-- PROFILE CONTENT -->
        <div class="profile-content">
            <div class="content-navigation">
                <ul>
                    <li class="type-caption active">All</li>
                    <li class="type-caption">Countries Visited</li>
                    <li class="type-caption">US States</li>
                    <li class="type-caption">Reviews</li>
                    <li class="type-caption">Awards</li>
                </ul>
            </div>
        </div>

        <!-- PROFILE DETAILS -->
        <div class="profile-details">
            <!-- BASIC STATISTICS -->
            <div class="detail-grid-4 detail-section">
                <div>
                    <p class="type-caption">Followers</p>
                    <p class="type-heading-4">2</p> @*@Html.DisplayFor(model => model.Followers)*@
                </div>
                <div>
                    <p class="type-caption">Following</p>
                    <p class="type-heading-4">50</p> @*@Html.DisplayFor(model => model.Followers)*@
                </div>
                <div>
                    <p class="type-caption">Trips</p>
                    <p class="type-heading-4">13</p> @*@Html.DisplayFor(model => model.TripsLogged)*@
                </div>
                <div class="grid-icon">
                    <i class="material-icons">bar_chart</i>
                </div>
            </div>

            <!-- DESCRIPTION -->
            <div class="detail-section">
                <p class="type-caption">Description</p>
                <p>Hey whats up Im a pretty cool guy I like doing stuff and also enjoy when I'm able to do stuff</p>
            </div>

            <!-- SOCIAL LINKS -->
            <div class="detail-section">
                <p class="type-caption">Social Links</p>
                <div class="iconRow">
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a href="#"><i class="fab fa-google-plus-g fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    <a href="#"><i class="fab fa-snapchat fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @*<div class="col-"*@
    </div>

    @*<div class="row">
        <div class="col-xs-3">
            @*<input type="text" placeholder="Enter a city (Milwaukee, Wisconsin)" class="city-search form-control" name="city" id="citySearch" />
                <i class="icon-map-marker"></i>
        </div>
        <div class="col-xs-6">
            <div>
                <input id="menuToggle" type="checkbox">
                <div class="infobox md-card">
                    <div class="md-card-content">
                        <p>Will display information about selected city from wikipedia, time permitting</p>
                        <div id="wiki"></div>
                    </div>
                    <div class="md-card-btns">
                        <label for="menuToggle" class="btn btn-1">Close Box</label>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row location-row">
        <div class="col-xs-4">
            <div id="map"></div>
        </div>
        <div class="col-xs-4">
            <div class="cityInfo-container">
                @*appending here*@
            </div>
        </div>
        <div class="col-xs-4">
            <div class="info-container">
                @*appending here*@
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9VqyRQ0U9jrBEYpymyq1xB5zzGsnbLnc&libraries=places">
</script>
<script src="~/js/TravelersScripts.js"></script>