@model Domain.Traveler

@{
    Layout = "_VisionBoardLayout";
}

@{
    ViewData["Title"] = "Vision Board";
}

    <body>
        <div class="row">
            <div class="logo col-xs-1">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><h1 class="logoPlaceHolder">T</h1></a>
            </div>
            <div class="col-xs-10">
                <h1 class="boardHeader whiteText">Destination Board</h1>
            </div>
            <div class="col-xs-1"></div>
        </div>
               
        <div class="row">
            <div id="addCardArea">
                <input type="text" placeholder="Enter a place" name="city" id="placeName">
                <input type="text" placeholder="Enter the country" name="country" id="placeCountry">
                <input type="text" placeholder="Enter a note" name="note" id="placeNotes">
                <input hidden type="text" value="1" name="city" id="columnNum">
                <input type="submit" class="btn btn-change btn-4" value="Add Card" id="addCardBtn">
            </div>
        </div>

        <div id="app">
            </app>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.6.1/react-dom.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
            <script type="text/babel" src="~/js/VisionBoardScripts.js">
            </script>

    </body>