@model Domain.Traveler

@{
    Layout = "_MapsLayout";
}

@{
    ViewData["Title"] = "WorldMap";
}
<body>
    <div class="row">
        <div class="col-xs-1">
            <p id="countriesVisited">Countries Visited: </p>
            <p id="statesVisited">States Visited: </p>




        </div>
        <div class="col-xs-11">
            <div id="chartdiv"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-11">
            <nav id="timeline">
                <ul id="timeline-ul">
                    <hr class="centerline">
                </ul>
            </nav>
        </div>
        <div class="col-xs-1">
            <label id="submitEvent" for="submitToggle" class="btn btn-change btn-2 btn-review">Add Event</label>
            <div>
                <input hidden id="submitToggle" type="checkbox">
                <div class="infobox submit-card">
                    <div class="submit-card-content">
                        <div>
                            <div><p>Enter details about your trip!</p></div>
                            <input type="text" id="eventPlaceInput" placeholder="Where did you go?" />
                        </div>
                        <div>
                            <form action="/action_page.php">
                                Event (month and year): <input type="month" name="eventMonth" id="eventDate">
                            </form>
                        </div>
                        <div>
                            <p>Leave a description about what you did</p>
                            <textarea rows="5" cols="80" id="eventDetailsInput">
                                      </textarea>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-change btn-3" value="Submit" id="submitEventBtn">
                        </div>
                    </div>
                    <div class="md-card-btns">
                        <label for="submitToggle" class="btn btn-4">Close Box</label>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/js/core.js"></script>
    <script src="~/js/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="~/js/WorldMapScripts.js"></script>
</body>