body {
    height: 100%;
    overflow: hidden;
    background: #b5e1f3;
    background: -webkit-linear-gradient(to right, #396afc, #2948ff);
    background: linear-gradient(to right, #b5e1f3, #7d90ff);
}

    body svg {
        object-fit: contain;
        display: block;
        height: 100vh;
    }


svg .land:hover {
    fill: #3755de;
    fill-opacity: 1;
    stroke: #011ecc;
    stroke-opacity: 1;
    stroke-width: 1;
    animation: all 0.2s ease;
}

svg .land {
    fill: #ffffff;
    fill-opacity: 1;
    stroke: #a9d0f5;
    stroke-opacity: 1;
    stroke-width: 1;
    animation: all 0.2s ease;
}

svg .land2 {
    fill: #c9d0f9;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

    svg .land2:hover {
        fill: #ffffff;
        fill-opacity: 1;
        stroke: white;
        stroke-opacity: 1;
        stroke-width: 0.5;
    }

svg .path2 {
    stroke-width: 1;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    stroke-dashoffset: 300px;
    animation: draw 12s linear infinite;
    stroke: #7887e2;
}

svg .path {
    stroke-width: 1;
    stroke-dasharray: 300px;
    stroke-dashoffset: 200px;
    animation: draw 8s linear infinite;
    stroke: #7887e2;
}

svg .mappoint {
    stroke: #7887e2;
    fill: #7887e2;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-10px);
    }
}

.navbar-inverse {
    background-color: #ffff0000;
    border-color: #ffff0000;
}

/*----------------------------------------------------------------
<style type="text/css" >*/
.land {
    fill: #7B7B7B;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

.land2 {
    fill: #CCCCCC;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}


.path {
    stroke-width: 1;
    stroke-dasharray: 300px;
    stroke-dashoffset: 200px;
    animation: draw 8s linear infinite;
}

.path2 {
    stroke-width: 1;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    stroke-dashoffset: 300px;
    animation: draw 12s linear infinite;
}

@keyframes draw {
    to {
        stroke-dashoffset: 2000;
    }
}

svg {
    width: 100%;
    height: auto;
}

/*</style >*/